/*! scss-palette v0.6.2 | 587 colors | https://github.com/archco/scss-palette#readme | MIT License */
.black {
  color: #fff;
  background-color: #242124; }

.white {
  color: #000;
  background-color: #fffafa; }

.pink {
  color: #fffff0;
  background-color: #f88379; }

.test {
  color: #9e837e; }

.test-1 {
  font-size: 1em;
  line-height: 1; }

.test-2 {
  color: #000;
  background-color: rgba(75, 54, 33, 0.35); }

.test-weaken {
  color: #595959;
  background-color: #848484; }

.test-strongen {
  color: #0d0d0d;
  background-color: #d0d0d0; }
