/*! scss-palette v0.1.2 | https://github.com/archco/scss-palette | 396 colors */
.black {
  color: #FFFFFF;
  background-color: #242124; }

.white {
  color: #000000;
  background-color: #FFFAFA; }

.pink {
  color: #FFFFF0;
  background-color: #F88379; }

.test {
  color: #9e837e; }
