
@import '../src/palette';

.black {
  color: palette('white');
  background-color: palette('raisinblack');
}

.white {
  color: palette('black');
  background-color: palette('snow');
}

.pink {
  color: palette('ivory');
  background-color: palette('CoralPink');
}

.test {
  color: palette-mix('snow', 'blackbean');
}

.test-1 {
  $font-size: 1em;

  font-size: $font-size;
  line-height: strip-unit($font-size);
}

.test-2 {
  $bg-color: rgba(palette('cafenoir'), .35);
  $color: get-contrast-color(rgba-to-rgb($bg-color));

  color: $color;
  background-color: $bg-color;
}
