
@import '../src/palette';

$l: length($color-palette);
/* length of palette: #{$l}*/
.black {
  color: palette('white');
  background-color: palette('raisinblack');
}

.white {
  color: palette('black');
  background-color: palette('snow');
}

.pink {
  color: palette('ivory');
  background-color: palette('CoralPink');
}
