/* length of palette: 182*/
.black {
  color: #FFFFFF;
  background-color: #242124; }

.white {
  color: #000000;
  background-color: #FFFAFA; }

.pink {
  color: #FFFFF0;
  background-color: #F88379; }
