//======================================================================
// Shades of cyan
//======================================================================

$shades-of-cyan: (
  "cyan": #00FFFF,
  "aqua": #00FFFF,
  "pigmentcyan": #00B7EB, // CMYK

  // Variations.
  "aeroblue": #C9FFE5,
  "aquamarine": #7FFFD4,
  "bluegreen": #0D98BA,
  "celeste": #B2FFFF,
  "cerulean": #007BA7,
  "darkcyan": #008B8B,
  "electricblue": #7DF9FF,
  "greenblue": #1164B4,
  "keppel": #3AB09E,
  "lightcyan": #E0FFFF,
  "lightseagreen": #20B2AA,
  "robineggblue": #00CCCC,
  "crayolaskyblue": #80DAEB, // Crayola
  "teal": #008080,
  "tiffanyblue": #81D8D0, // Tiffany & Company
  "turquoise": #40E0D0,
  "verdigris": #43b3ae,
  "viridian": #40826D,

  // Web Colors.
  "paleturquoise": #AFEEEE,
  "mediumturquoise": #48D1CC,
  "darkturquoise": #00CED1,
);
